.row{
	margin-bottom: 0px;
}

.collection{
	margin:0px;
}

body{
	font-family: Roboto Light;
}

/*Navbar Styles*/

#navbar-icon{

	margin-top:12px;
	margin-left:10px;
}

/*Form Styles*/

input:focus {
  border-bottom: 1px solid #1e88e5!important;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5!important;
  -moz-box-shadow: 0 1px 0 0 #1e88e5!important;
  box-shadow: 0 1px 0 0 #1e88e5!important;
}

label {
    color: #1e88e5!important;
}

/* Left styles*/
.collapsible-body{
	overflow-y: scroll;
	padding:15px;
}

.collapsible-body p {
	padding:0px;
}

::-webkit-scrollbar {
      width: 10px;
}
::-webkit-scrollbar-track {
      background-color: #ffffff;
} 
::-webkit-scrollbar-thumb {
      background-color: #bdbdbd; 
} 


#left{

	/*background-color:blue;*/
	height: 100%;
	padding:0px;
}

#queue-header{
	width:100%;
	height: 45px;
}

#queue-header p{
	margin-top:0px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 24px;
	color: white;
	font-family: Roboto Light;
}

input{
	color: Black;
}
#queue-bottom{
	height: 80px;
	padding: 10px;
	text-align: right;
/*	border:1px black solid;*/
}

.btn-small{
	margin-top: 25px;
	/*padding: 10px!important;*/
}

.files-table td{
	border-radius: 0px;
	padding-top:10px;
	padding-bottom:10px;
}
.files-table tr:hover{
	background-color: #bbdefb;
}

/* Right styles*/

#right{

	/*background-color:blue;*/
	height: 100%;
}

.card-content{
	padding-bottom: 0px!important;
	padding-top: 5px!important;
}

.card-image{
	max-height: 80%!important;
}

.card-icon{
	margin-top: 10px!important;
}

.small{
	height: 280px!important;
}
.pc-panel{
	height: 280px!important;
}

.pc-icon{
	font-size: 180px!important;
	color: white;
	margin-top: 25px;
}

.pc-status{

	padding: 20px!important;
	margin-top: 5px;
	color: white;
}

.pc-status p{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 24px;
	font-family: Roboto;
}

